    @{
        ViewBag.Title = "SIS Gold";
    }
    <h2 style="margin-top: 35px; margin-bottom: -35px;">SIS Gold</h2>
    <br>
    <br>
    <h2>Get rewards for participating in SIS Studies.</h2>

    <img src="@Url.Content("/images/SIS-Gold.jpg")" alt="Image" />

    <h2>At SIS we value our panel!</h2>

    <h3>
        When you participate in our studies you earn SIS Gold, you can then redeem it for cool prizes and gift cards on our SIS Gold Platform.
        <br><br>
        To join, please follow this link: <a href="http://sisgoldplatform.com">www.sisgoldplatform.com</a>
    </h3>
    @*<h3>@ViewBag.Message</h3>*@

    <p>Use this area to provide additional information.</p>
