@{
    ViewBag.Title = "Contact page";
}
@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@

<br />
<br />
<br />
<address>
    <h3>General questions: </h3>
    <br />
    research@sisinternational.com<br />
    <abbr title="Phone">P:</abbr>
    +1 212 505 6805  <br />
</address>

<br />
<address>
    <h3>Campus</h3>
    <br />
    campus@sisinternational.com<br />
    <abbr title="Phone">P:</abbr>
    +1 212 505 6805  <br />
</address>

@*<br />
<address>
    <h3>Campus</h3>
    <br />
    campus@sisinternational.com<br />
    <abbr title="Phone">P:</abbr>
    +1 212 505 6805  <br />
</address>*@

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
    </address>