@model MvcPWy.Models.ApplicationUser
@{
    ViewBag.Title = "Home Page";
}

         <div class="homeimage"></div>

@*<img style="background-size:cover;" src="@Url.Content("/images/HomeImage.jpg")" alt="Image" />*@
@*<div style="background-image:url(/images/HomeImage.jpg);background-repeat:no-repeat; height:800px">
        @{
            if (Model != null)
            {
                <h1>Hi @Model.FirstName</h1><br><br><br>
                <p class="lead">You have @Model.CurrentNumberPrizes from @Model.MaxNumberPrizes prizes.</p>
            }
            else
            {
                <h1>Hello</h1><br><br><br>
                <p class="lead">You need to login/register.</p>
            }
            <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        }
    </div>*@
<style>
    .homeimage {
        /* The image used */
        background-image: url("/images/HomeImage.jpg");
        /* Full height */
        height: 1000px;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .body-content {
        padding-left: 0px;
        padding-right: 0px;
    }
       
</style>
